#hero {
    background-image: url("images/nanjingone.jpg");
    width: 720px;
    height: 343px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}



img {
    width: 150px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
}

p {
   width: 198px;
   height: 60px;
}

h1 {
   padding-top: 100px;
   color: #ffffff;
}

span {
    background-color: #323749;
    text-shadow: 5px white;
    border-radius: 20px;
}

h2 {
    color: #ffffff;
}

h3 {
    padding-top: 20px;
}

h4 {
    margin-top: -10px;
}

#activities {
        width: 720px;
        height: 378px;
        margin-left: auto;
        margin-right: auto;
        background-color: #B8ABC5;
        background-size: cover;
        margin-top: -20px;
    }

.threeplaces {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}


.guide {
    border: 0 solid #B8ABC5;
    display: flex;
    width: 400px;
    height: 294px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D4B0BE;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
}

#qianyun {
    width: 180px;
    height: 248px;
    padding: 10px 10px;
}

#name {
    padding-top: 30px;
}